* {
  padding: 0;
  margin: 0;
}

html {
  background: url(landing-img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*overflow: hidden;*/
}

body {
  text-align: center;
}

.logo img{
  margin-top: 8%;
  width: 480px;
}

.form {
  margin-top: 5%;
}

.input {
  width: 500px;
  height: 45px;
  margin-bottom: 30px;
  font-size: 20px;
  color: grey;
}

.buttons button {
  width: 250px;
  height: 45px;
  color: white;
  font-size: 20px;
}

.login {
  background-color: #ae372f;
  border: none;
  text-decoration: none;
}
.register {
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 2px;
}

p {
  color: white;
  text-decoration: underline;
  margin-top: 30px;
  margin-left: 30%;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .logo img{
    margin-top: 8%;
    width: 300px;
  }

  .input {
    width: 300px;
    height: 45px;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .buttons button {
    width: 150px;
    height: 45px;
  }

  p {
    text-align: center;
    margin-left: 0px;
  }
}

