* {
  padding: 0;
  margin: 0;
}

html {
  background: url(img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*overflow: hidden;*/
}

.lives {
  margin-top: 10px;
  margin-left: 10px;
  height: 40px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
}

.lives p {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 20px;
  display: inline-block;
}

.lives img {
  height: 38px;
}

.hud {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  font-size: 30px;
  color: white;
}

.ship {
  background: url('img/ship.png');
  margin-top: 25px;
  height: 92px;
  width: 262px;
  position: absolute;
  display: inline-block;
}

/*main img {
  margin-top: 25px;
  position: absolute;
  display: inline-block;
  width:262px;
  height: 92px;
  padding-top:
}*/

